PORT=
NODE_ENV=
ALLOW_DEV_AUTH=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

SSO_CLIENT_ID=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
SSO_BASE_URL=
SSO_BASE_URL2=

SMTP_USER=
G_CLIENT_ID=
G_CLIENT_SECRET=
G_REFRESH_TOKEN=
WA_CLOUD_API_ACCESS_TOKEN=